<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <% include ../partials/nav %>

  <h1>Carpool potentie</h1>
  <article id="introText">Zodra je met de auto de deur uit gaat komt het wel is voor dat je in de file komt te staan.
    Dit is erg
    <strong>vervelend en
      saai,</strong> maar bovenal ook <strong>slecht voor het milieu</strong>. Vul het kenteken van jouw voertuig in en
    ontdek hoe de files in jouw
    buurt veranderen zodra er meer gecarpoold gaat worden.</article>

  <form class="search" action="/" method="" id="form" enctype="application/x-www-form-urlencoded">
    <fieldset>
      <legend></legend>
      <input value="" type="input" id="searchValue" name="search" required minlength="1" placeholder="PB-340-B">
      <button id="searchBtn" type="submit">&#x1F50E</button>
    </fieldset>
  </form>

  <div id="informationWrapper">
    <section id="allCurrentJams" class="displayNone">
      <!-- <section id="allCurrentJams"> -->
      <form id="jamForm">
        <section id="formItems">

        </section>
        <!-- <button id="jamSubmit" type="submit">Keus bevestigen</button> -->
        <button id="jamSubmit">Keus bevestigen</button>


      </form>
    </section>

    <section id="personalCarDetails" class="displayNone">
      <svg width="400" height="400">
        <g transform="translate(200, 200)"></g>
      </svg>
      <form action="" id="jamForm">
        <h3 class="brand">Merk: <span id="carBrand"></span></h3>
        <h3 class="type">type: <span id="carType"></span></h3>
        <h3 class="seats">Zitplaatsen: <span id="carSeats"></span></h3>
        <input class="input" id="carInput" type="number" name="quantity" min="1" max="100" value="8" autofocus>
        <!-- <button class="submit" id="jamSubmit" type="submit">Plaatsen bevestigen</button> -->
      </form>

    </section>

  </div>




  <% include ../partials/footer %>
</body>

</html>