<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body>
  <% include ../partials/nav %>

  <section id="anwbData">

  </section>



  <form class="search" action="/" method="" id="form" enctype="application/x-www-form-urlencoded">
    <fieldset>
      <legend></legend>
      <input value="" type="input" id="searchValue" name="search" required minlength="1" placeholder="PB-340-B">
      <button id="searchBtn" type="submit">&#128269;</button>
    </fieldset>
  </form>

  <article></article>


  <% include ../partials/footer %>
</body>

</html>