<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <% include ../partials/nav %>

  <h1>Carpool potentie</h1>
  <article id="introText">Zodra je met de auto de deur uit gaat komt het wel is voor dat je in de file komt te staan.
    Dit is erg
    <strong>vervelend en
      saai,</strong> maar bovenal ook <strong>slecht voor het milieu</strong>. Vul het kenteken van jouw voertuig in en
    ontdek hoe de files in jouw
    buurt veranderen zodra er meer gecarpoold gaat worden.</article>

  <form class="search" action="/" method="" id="form" enctype="application/x-www-form-urlencoded">
    <fieldset>
      <legend></legend>
      <input value="" type="input" id="searchValue" name="search" required minlength="1" placeholder="PB-340-B">
      <button id="searchBtn" type="submit">&#x1F50E</button>
    </fieldset>
  </form>

  <section id="feedbackField">

  </section>

  <% include ../partials/footer %>
</body>

</html>