<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <% include ../partials/nav %>

  <section id="anwbData">
  </section>



  <form class="search" action="/" method="" id="form" enctype="application/x-www-form-urlencoded">
    <fieldset>
      <legend></legend>
      <input value="" type="input" id="searchValue" name="search" required minlength="1" placeholder="PB-340-B">
      <button id="searchBtn" type="submit">&#x1F50E</button>
    </fieldset>
  </form>

  <article>
    <div id="legenda"></div>
  </article>


  <% include ../partials/footer %>
</body>

</html>