* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: white;
    text-align: center;
}


path {
    cursor: pointer;
    stroke: #ccc;
    stroke-width: 0px;
}


.barchart {
    width: 50%;
    height: 20vw;
}

.barText {
    font-size: 2vw;
}

.tooltip {
    position: absolute;
    display: none;
    /*   height: auto; */
    background: none repeat scroll 0 0 #ffffff;
    border: 1px solid #6F257F;
    padding: 14px;
    text-align: center;
}

fieldset {
    border: 0;
}

#searchValue {
    width: 440px;
    height: 60px;
    background-color: #fcbc02;
    border: #013299 5px solid;
    border-radius: 7px;
    border-left-width: 30px;
    padding-top: 0;
    color: black;
    font-family: sans-serif;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
}

#searchBtn {
    width: 60px;
    height: 60px;
    font-size: 40px;
    background-color: #fcbc02;
    border: #013299 5px solid;
    border-radius: 7px;
}

::placeholder {
    font-family: sans-serif;
    font-size: 40px;
    line-height: 60px;
    text-align: center;
}

article {
    max-width: 510px;
    text-align: initial;
    margin: 0 auto;
    padding-bottom: 4rem;
    color: darkslategray;
}

h1 {
    font-size: 4em;
    padding: 4rem;
    color: cornflowerblue;
}

.displayNone {
    display: none;
}